[Unit]
Description=pig-unicorn-bot
After=network-online.target

[Service]
WorkingDirectory=/home/pi/koa-pig
ExecStart=./start-prod.sh && autossh -M 0 -R 80:localhost:8080 serveo.net &
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pig
User=pi
Group=pi

[Install]
WantedBy=multi-user.target


